@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


body {
	display: grid;
	background-image: linear-gradient(315deg, #d67d91 0%, #853aa4 20%);
	min-height: 100vh;
}

.imgsize{
  width: 5%;
}

.centrar{
  padding-bottom: 10px;
  
}
.card{
  
width: 500px;
margin: auto;
}

.imgCard{
width: 300px;

}



head {
  grid-area: head;
  background-color: #362A69;
  height: auto;
  color: #A39FA5;
  text-align: center;

}

footer {
  grid-area: footer;
  background-color: #000;
  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10vh;
}